pipeline/TraeLocaciones.json
{
	"name": "TraeLocaciones",
	"properties": {
		"activities": [
			{
				"name": "TraeLocacionesData",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT\ndistinct [location_type]\nFROM [dbo].[orden]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "TraeLocacionesData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "TraeOrdenes",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"nameestudiante": {
							"value": "array(@activity('TraeLocacionesData').output)",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": []
	}
}